* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar{
  background-color: rgb(209, 211, 211);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navitem{
  display: flex;
  gap: 30px;
  
  margin: 15px;

}

.colors{
  color:navy;
}
#card{
  
  background-color: white;
  padding: 15px;
  padding-top: 10px;
  margin: 15px;
  border-radius: 10px;
}

#sidebar{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  background-color: rgb(114, 169, 169);
  border-radius: 10px;
  height: 50vh;
  margin-left: 5px;
  margin-top: 5px;

}
#content{
  display: flex;
  flex-direction: column;
  gap:  10px;
  margin: 15px;
  font-size: large;
}

.btn{
  width: 90px;
  height:30px;
  background-color: rgb(95, 95, 227);
  color: white;
  border:none;
  border-radius: 8px;
}

table{
  padding: 20px;
  border-collapse: collapse;
  margin-top: 10px;
  width: 60vw;

}

th,td{
  padding: 10px;
  margin:10px;
  text-align: left;

}
th{
  background-color: #c6691f;
  border:1px solid white;
  color:white;
}
td{
  background-color: #c6691f;
  border:1px solid white;
}

#whole{
  display: flex;
}

#upper{
  display: flex;
  
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  margin-left: 10px;
  background-color: white;
  padding:10px;
  border-radius: 8px;
}

#mainScreen{
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color:  rgb(209, 211, 211);;
  
}
#Sign-up-form{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
  gap:3px;
  
}
